@media(max-width: 4000px) and (min-width: 1470px) {


.articleFeedCards {

    display: grid;
    grid-template-columns: repeat(1, 9fr);
    grid-gap: 25px;
    background-color: #b6b6b6;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    
  }
  
  .articleFeedCards > li{
    background-color: white;
    min-width: 500px;
    max-width: 700px;
    border-radius: 75px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .articleFeedHead{   
      background-color: transparent;
  }

  .articleFeedAuthor {
      background-color: transparent;
      font-size: 16px;
      color: black
  }

  .articleFeedDateStamp {
      background-color: transparent;
      font-size: 16px;
      font-weight: 90;
      color: rgb(136, 136, 136)
  }
  .articleFeedName {
      background-color: transparent;
      font-size: 22px;
      color: black;
  }


.articleFeedBody {
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    color: rgb(122, 40, 40);
}


.articleFeedLikes {
    background-color: transparent;    
}


}




@media(max-width: 1470px) and (min-width: 500px) {


    .articleFeedCards {

        display: grid;
        grid-template-columns: repeat(1, 9fr);
        grid-gap: 25px;
        background-color: #b6b6b6;
        padding-top: 10px;
        padding-right: 40px;
        padding-left: 40px;
        
      }
      
      .articleFeedCards > li{
        background-color: white;
        min-width: 500px;
        max-width: 700px;
        border-radius: 75px;
        text-align: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      
      .articleFeedHead{   
          background-color: transparent; 
      }
    
      .articleFeedAuthor {
          background-color: transparent;
      }
    
      .articleFeedDateStamp {
          background-color: transparent;
      }
      .articleFeedName {
          background-color: transparent;
      }
    
    
    .articleFeedBody {
        background-color: transparent;
    }
    
    
    .articleFeedLikes {
        background-color: transparent;    
    }


}





@media(max-width: 500px){

    .articleFeedCards {

        display: grid;
        grid-template-columns: repeat(1, 9fr);
        grid-gap: 25px;
        background-color: #b6b6b6;
        padding-top: 10px;
        padding-right: 40px;
        padding-left: 40px;
        
      }
      
      .articleFeedCards > li{
        background-color: white;
        min-width: 500px;
        max-width: 700px;
        border-radius: 75px;
        text-align: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      
      .articleFeedHead{   
          background-color: transparent; 
          
      }
      .articleFeedAuthor {
          background-color: transparent;
      }
      .articleFeedDateStamp {
          background-color: transparent;
      }
      .articleFeedName {
          background-color: transparent;
      }
      .articleFeedBody {
          background-color: transparent;
      }
      .articleFeedLikes {
          background-color: transparent;    
      }

}
